body {
    font-family: Arial;
    background: linear-gradient(120deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box, .dashboard {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

input {
    padding: 8px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: #ff4b5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e84350;
}
